body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(46, 45, 45, 0);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.877),
      rgba(0, 0, 0, 0.795)
    ),
    url(./2.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: inline-block;
  text-align: left;
  background: rgba(255, 255, 255, 0.7);
  padding: 50px;
  border-radius: 10px;
  margin-top: 12%;
}
table {
  /* border: 2px solid rgb(241, 238, 238); */
  border-collapse: collapse;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-align: center;
  width: 30vw;
  height: 20vh;
  border-radius: 3px;
  font-family: cursive;

  border-collapse: collapse;
  border-radius: 10px; /* This rounds the outer borders of the table */
  overflow: hidden; /* Ensures the rounded corners are visible */
}
table caption {
  padding: 10px;
  color: rgb(245, 244, 244);
  font-size: 3.5rem;
  cursor: alias;
}

tr {
  font-weight: bold;
  color: rgb(53, 48, 48);
}

tbody > tr {
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.5s;
}
tbody > tr:nth-of-type(even) {
  cursor: pointer;
  /* background-color: rgb(240, 241, 243); */
  background-color: rgba(199, 196, 190, 0.973);
}
tbody > tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.664);
  color: rgb(255, 255, 255) !important;
}

th,
td {
  border: 1px solid rgba(0, 0, 0, 0.329);
  padding: 8px 10px;
}

.table {
  height: fit-content;
  border-radius: 10px;
  box-shadow: rgba(182, 179, 179, 0.253) 0px 2px 8px 0px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex: 1;
  /* background-color: lightgreen; */
  overflow-y: auto;
}

.container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.main_btn {
  border-radius: 10px;
  transition: all 0.7s;
}
.main_btn:hover {
  transform: scale(1.05);
  box-shadow: rgb(250, 221, 183) 0px 0px 5px 0px,
    rgb(253, 228, 195) 0px 0px 1px 0px;
}

a {
  text-decoration: none;
  color: antiquewhite;
  padding: 50px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s;
}

.main_btn_link {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
}

thead > tr:nth-child(1) {
  text-decoration: line-through;

  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.664);
  color: brown;
}
